includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - src
    ignoreErrors:
        - '#Method App\\Entity\\User::getUserIdentifier\(\) should return non-empty-string but returns string#'
