<section id="key-points" class="bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-12 order-lg-1 mb-5 mb-lg-0">
                <div class="container-fluid px-5 text-white">
                    <div class="row gx-5">
                        <div class="col-md-6 mb-5">
                            <div class="text-center">
                                <i class="bi-search icon-feature d-block mb-3"></i>
                                <h3 class="font-alt">Discovery</h3>
                                <p class="text-white mb-0">
                                    We dedicate as much time as you need, to understand and finalise the
                                    requirements for your product. We take pride in delivering exactly
                                    what you ask for, first time around.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="text-center">
                                <i class="bi-shield-check icon-feature d-block mb-3"></i>
                                <h3 class="font-alt">Secure</h3>
                                <p class="text-white mb-0">
                                    We ensure that your applications are running with the latest
                                    versions of the underlying frameworks used, to keep up-to-date
                                    with the latest security patches.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <div class="text-center">
                                <i class="bi-code-slash icon-feature d-block mb-3"></i>
                                <h3 class="font-alt">Modern Technologies</h3>
                                <p class="text-white mb-0">
                                    We build your applications and websites using modern technologies,
                                    to ensure that any feature that you require, is achievable and
                                    delivered to the highest standard.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-center">
                                <i class="bi-cloud icon-feature d-block mb-3"></i>
                                <h3 class="font-alt">Cloud Computing</h3>
                                <p class="text-white mb-0">
                                    Our infrastructure utilises Amazon Web Services and Docker, to ensure
                                    your application is secure and scalable should you receive large amounts
                                    of traffic.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>