<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Title{% endblock %}</title>
        {% include '/_head_content.html.twig' %}
    </head>

    <body id="page-top">
        {% include '/_admin_navigation.html.twig' %}

        {% block body %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </body>
</html>
